@model IEnumerable<WebApplication1.Models.Course>

@{
    ViewBag.Title = "CourseView";
}
<h2>Courses</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Section)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teacher.Name)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Result", new { id = item.CId, secid = item.Section.SId })                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Section.Section1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.Name)
            </td>
        </tr>
    }

</table>

<br />
<div class="navbar-collapse collapse">

    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Back", "SectionView", "Home")</li>
        <li>@Html.ActionLink("Logout", "Login", "Account")</li>
    </ul>
</div>
