@model WebApplication1.ViewModels.AccountViewModels
@{
    ViewBag.Title = "Login";
}
<div class="row">
    <div class="col-md-8">
        <a href="@Url.Action("Login", "Account")" class="navbar-brand">
            <img class="img-responsive" src="~/images/ZAS_Temp1_01.jpg" title="SZABIST" alt="SZABIST Logo" />
        </a>
    </div>
</div>

<h2>Login</h2>
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <fieldset>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
                {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }

            <table>
                <tr>
                    <td>@Html.LabelFor(u => u.RegNo)</td>

                    <td>@Html.TextBoxFor(u => u.RegNo)</td>
                    <td>@Html.ValidationMessageFor(u => u.RegNo)</td>

                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(u => u.Password)
                    </td>
                    <td>
                        @Html.PasswordFor(u => u.Password)
                    </td>
                    <td>
                        @Html.ValidationMessageFor(u => u.Password)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <br />
                        <input type="submit" value="Login" class="btn btn-toolbar btn-success " />
                    </td>
                    <td></td>
                </tr>
            </table>
        
    </fieldset>
    
}
